

/* .signup{
    /* border: 2px solid rgb(193, 87, 87); */
/* } */ */
.column{
    height: 100vh;
}
.sign-up-heading{
    font-size: 100px;
    /* font-weight: larger; */
    color: rgba(240, 0, 0,.80);
    opacity: 0.8;

}

.input-signup{
    outline: none;
}
.btn-signup{
    background-color: rgba(240, 0, 0,.80);
    border: 2px solid red;
    color: white;
    text-align: center;
    font-weight: 500;
    outline: none;
    border:  none;
}
.btn-signup:hover{
    background-color: rgba(52, 201, 15, 0.8);
    /* border: 2px solid red; */
    /* color: white;
    text-align: center;
    font-weight: 500;
    outline: none;
    border:  none; */
}